<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/Pythonic Share Front-end/static/Assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="/Pythonic Share Front-end/static/style.css">
    
    <title>ShareSphere Homepage</title>
</head>
<body>

    <h1 class="Typo">ShareSphere</h1>


        <div class="navbar">
            <a href="/Pythonic Share Front-end/templates/sourcecode.html">Source code</a>
            <a href="/Pythonic Share Front-end/templates/index.html">Home</a>
            <a href="/Pythonic Share Front-end/templates/about.html">About us</a>
        </div>

  


    <table class="tabel">
        <tr>
          <th>File name</th>
          <th class="th1">File type</th>
          <th class="th2">File size</th>
        </tr>
        <tr>
          <td>File 1</td>
          <td class="td0">Pdf</td>
          <td>3 GB</td>
          <td><button class="btn"><i class="fa fa-download"></i> Get</button></td>
        </tr>
     
</tr>
      </table>

      

</body>
</html>