<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Pythonic Share Front-end/static/downloads.css">
    <link href="/Pythonic Share Front-end/static/Assets/favicon.ico" rel="icon" type="image/x-icon">
    <title>Source code</title>
</head>
<body>
    <h1 class="Typo">ShareSphere</h1>


    <div class="navbar">
        <a href="/Pythonic Share Front-end/templates/sourcecode.html">Source code</a>
        <a href="/Pythonic Share Front-end/templates/index.html">Home</a>
        <a href="/Pythonic Share Front-end/templates/about.html">About us</a>
    </div>

    <a href="https://github.com/Pouryakillsound/ShareSphere" target="_blank"><img src="/Pythonic Share Front-end/static/Assets/Frame 10.png"></a>
    <p>By clicking on this link you can check out the source of this project </p>
    
</body>
</html>